.container {
  height: 100vh;
  min-width: 360px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  font-family: Arial, sans-serif;
}

* {
  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    display: none;
  }
}