.container {
  width: 315px;
  user-select: none;

  h1 {
    color: #e6e6fa;
    margin-bottom: 35px;
    text-align: center;
    font-size: 26px;
    cursor: default;
  }

  form {
    border: 1px solid #0b98ef;
    padding: 20px;
    height: 150px;

    a {
      text-decoration: none;
      display: block;
      margin: 31px auto 31px auto;
      cursor: pointer;
      height: 30px;
      width: 80px;

      button {
        display: block;
        margin: 31px auto 31px auto;
        cursor: pointer;
        height: 30px;
        width: 80px;
        background-color: #0b98ef;
        outline: none;
        border: none;
        font-size: 16px;
        color: #fff;
        border-radius: 10px;
      }
    }

    input {
      margin: 10px auto 10px auto;
      box-sizing: border-box;
      outline: none;
      display: block;
      width: 170px;
      height: 30px;
      background-color: #e6e6fa;
      border: none;
      font-size: 16px;

      &:focus {
        outline: 2px solid #0b98ef;
      }
    }
  }
}
