.container {
  height: calc(100% - 110px);

  div {
    margin: 10px auto 10px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #e6e6fa;
    font-size: 14px;
    max-width: 67%;
    overflow: auto;
    width: fit-content;

    span {
      color: #008800;
      font-style: italic;
    }
  }
}