.container {
  height: calc(100% - 126px);

  button {
    background-color: #6495ed !important;
  }

  div > div {
    margin: 10px auto 10px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #e6e6fa;
    font-size: 14px;
    max-width: 67%;
    overflow: auto;
    width: fit-content;

    span:first-child {
      font-style: italic;
    }
  }
}